[user]
	email = alexey.broadcast@gmail.com
	name = Alex
[alias]
	co = checkout
	ci = commit
	cia = commit --amend --no-edit
	st = status
	f = fetch
	rb = rebase
	cp = cherry-pick
	hist = log --color --date=format:'%H:%M %d.%m.%Y' --graph --pretty=format:'%C(cyan)%h%Creset %Cgreen(%cd) -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
	prbr = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(authorname) (%(color:green)%(committerdate)%(color:reset))' ;show branches sorted by date
	logfile = log -p -M --follow --stat; -Gpattern for search pattern
	logfilelines = log -p -M --stat -L;N,M:filename - log for lines
[core]
	pager = more
    editor = vim -f
	autoclrf
[credential]
	helper = cache --timeout=86400
[diff]
	tool = gvimdiff
    algorithm = histogram
[merge]
	tool = gvimdiff
	renameLimit = 999999
[difftool]
	prompt = false
[color]
	ui = true

[color "status"]
;header (the header text of the status message), 
    ;header = yellow
;added or updated (files which are added but not committed),
    ;added = cyan
;changed (files which are changed but not added in the index),
    changed = cyan
;untracked (files which are not tracked by Git),
    untracked = magenta
;branch (the current branch),
    branch = yellow
;nobranch (the color the no branch warning is shown in, defaulting to red),
    ;nobranch
;unmerged (files which have unmerged changes).
    unmerged = red reverse

[hub]
	protocol = https
